<div style="display: flex; justify-content: center">
  <div style="width: 70vw; margin-top: 5vh; display: flex; overflow: auto;">
    <div style="max-width: 220px; min-width: 220px">
      <mat-selection-list [multiple]="false" *ngIf="receiver" [(ngModel)]="selecteds" (ngModelChange)="onSelected($event)">
        <mat-list-option mat-list-item *ngFor="let chat of chats" [value]="chat._id">
          {{isReceiver(chat.users).email}}
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div style="min-height: 75vh !important; width: 100%;">
      <div style="display: flex;">
        <mat-form-field appearance="outline" style="width: 90%; margin-left: 25px;">
          <mat-label>Message</mat-label>
          <input matInput name="message" [(ngModel)]="message" />
          <mat-icon matSuffix>chat</mat-icon>
        </mat-form-field>
        <div style="display: flex; justify-content: center; width: 10%; align-items: center;">
          <button
            mat-mini-fab
            (click)="sendMessage()"
            style="background-color: var(--success);color: white;">
          <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
      <div style="min-height: 65vh; max-height: 65vh; height: 65vh; overflow: auto;">
        <div style="width: 90%; padding: 20px;">
          <div *ngFor="let message of messages">
            <span>{{message}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
