<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Liste des options :</p><br>
    <p>Utilisateurs</p>
    <!--<p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>-->
  </mat-drawer>
  <div>
    <button type="button" mat-button (click)="drawer.toggle()" class="sidenav-button">
      <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
    </button>
  </div>

</mat-drawer-container>

