<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
    <span><a href="/">LOGO</a></span>
    <span class="spacer"></span>
    <!--<a mat-button routerLink="/register">Register</a>-->
    <a mat-button routerLink="/">Accueil</a>
    <a mat-button routerLink="/cours">Cours</a>
    <a mat-button routerLink="/">Blog</a>
    <a mat-button routerLink="/login" *ngIf="!authService.user; else isLogged">Se connecter</a>
    <ng-template #isLogged>
      <a mat-button routerLink="/">Mon compte</a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
