<mat-nav-list id="app-nav" class="list">
  <a mat-list-item [routerLink]="['admin/users']">
    <mat-icon>people</mat-icon>
    <span mat-line>Utilisateurs</span>
  </a>
  <a mat-list-item [routerLink]="['admin/comments']">
    <mat-icon>chat</mat-icon>
    <span mat-line>Commentaires</span>
  </a>
  <a mat-list-item [routerLink]="['admin/transactions']">
    <mat-icon>query_stats</mat-icon>
    <span mat-line>Transactions</span>
  </a>
  <a mat-list-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span mat-line>Déconnexion</span>
  </a>
</mat-nav-list>
