mat-card {
  display:inline-block;
  width: 40vw;
  height: 55vh;
  text-align: center;
}

.mat-card{
  display:flex;
  flex-direction: column;
}

.mat-card-content{
  flex-grow: 1;
}

mat-form-field {
  display: block;
}
