mat-card {
  display: inline-block;
  width: 40vw;
  text-align: center;
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-content {
  padding: 0px 30px 30px 30px;
  flex-grow: 1;
}

.alert {
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: var(--accent);
}

.spacer {
  flex: 1 1 auto;
}

.document-line{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
  display: flex;
}