mat-card {
  display: inline-block;
  width: 40vw;
  text-align: center;
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-content {
  padding: 0px 30px 30px 30px;
  flex-grow: 1;
}

.alert {
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: var(--warning);
}