<mat-card class="my-card">
    <mat-card-title><h3>Mes documents</h3></mat-card-title>
    <mat-card-content style="display: flex; align-items: center">
      <div class="alert">
        Merci d'uploader des documents nous permettant de valider votre profil (Pièce d'identité, diplôme, etc...)
      </div>
    </mat-card-content>
    <mat-card-footer style="margin-bottom: 25px">
      <button mat-flat-button (click)="uploadDoc()" style="width: 20vw; background-color: var(--success); color: white">
        Ajouter
      </button>
    </mat-card-footer>
  </mat-card>
  
