<div class="homepage-head">
  <div style="width: 100%; backdrop-filter: blur(2px); display: flex; justify-content: center; padding-top: 100px; padding-bottom: 100px;">
    <div style="width: 50vw;">
      <div style="font-size: 30px; font-weight: 600;">MY CLASSES</div>
      <div style="margin-top: 30px; font-size: 25px;">Trouvez votre professeur particulier parmi plus de 250 000 annonces de cours particuliers à domicile dans 500 matières sur toute la France.</div>
    </div>
  </div>
</div>
<div style="display: flex; justify-content: center; margin-top: 50px;">
  <div style="width: 65vw; display: flex; border-radius: 10px; background: rgba(33, 150, 243, 0.1); padding: 25px;">
    <div style="width: 50%; display: flex; flex-direction: column;">
      <div style="text-align: center; font-size: 25px; font-weight: 500;">
        Devenir étudiant
      </div>
      <div style="margin-top: 25px; padding: 20px; text-align: justify; font-size: 18px; flex-grow: 1; line-height: 150%;">
        Devenez étudiant de notre plateforme et profitez de nos services pour trouver votre professeur personnel. Des mathématiques à la danse en passant par la cuisine venez trouver le cours qui corresponds à vos envies !
      </div>
      <button mat-flat-button (click)="goToLogin()" style="width: 20vw; background-color: var(--info); color: white; margin: auto; margin-top: 25px;">
        S'INSCRIRE
      </button>
    </div>
    <div style="width: 50%; display: flex; flex-direction: column;">
      <div style="text-align: center; font-size: 25px; font-weight: 500;">
        Devenir professeur
      </div>
      <div style="margin-top: 25px; padding: 20px; text-align: justify; font-size: 18px; flex-grow: 1; line-height: 150%;">
        Vous êtes professeur et vous souhaitez former des étudiants ? Vous pouvez vous inscrire sur notre plateforme et déposer votre annonces de cours. En visio ou sur place donner des cours et gagner votre vie grace à My classes !
      </div>
      <button mat-flat-button (click)="goToLogin()" style="width: 20vw; background-color: var(--info); color: white; margin: auto; margin-top: 25px;">
        S'INSCRIRE
      </button>
    </div>
  </div>
</div>

<div style="display: flex; justify-content: center; margin-top: 50px; margin-bottom: 120px;">
  <div style="width: 80vw; display: flex; flex-wrap: wrap; justify-content: space-evenly">
    <div *ngFor="let comment of comments" style="flex: 0 0 25%; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 20px; border-radius: 20px; margin: 10px;">
      <div style="display: flex; justify-content: center">
        <img src="{{comment.user.profile_img ? comment.user.profile_img.url : '../../../assets/profile.png'}}" class="avatar">
      </div>
      <div style="margin-top: 15px;">
        <star-rating size="medium" [readOnly]="true" [rating]="comment.rating"></star-rating>
      </div>
      <div *ngIf="comment.text" style="text-align: center; margin-top: 25px;">
        {{comment.text}}
      </div>
    </div>
  </div>  
</div>
