swiper {
  height: 400px;
  width: 600px;
}

.homepage-head {
  margin-top: 100px;
  text-align: center;
  opacity: 0.9;
  background: rgb(213, 213, 213);
  background-image: url('../../../assets/head.jpg');
  background-size: contain;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
  background-attachment: fixed;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  max-width: 75px;
  height: 75px;
}


.select-wrap {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 800px;
  margin: 32px auto 0;
  border-radius: 4px;
  background: rgb(180, 180, 180);
}
.select-wrap h3 {
  text-align: center;
}
.select-wrap .btn1 {
  width: 60%;
  margin: 0 auto;
  background: rgb(138, 138, 138);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  position: relative;
  left: 70px;
}
.select-wrap .btn2 {
  width: 60%;
  margin: 0 auto;
  background: rgb(138, 138, 138);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  position: relative;
  left: 70px;
}
.select-wrap .select {
  padding: 16px;
}
.select-wrap .line {
  position: absolute;
  top: 16px;
  left: 50%;
  bottom: 16px;
  width: 1px;
  background: #333;
}

.user-wrpa {
  display: flex;
  justify-content: space-between;
  width: 850px;
  text-align: center;
  box-sizing: border-box;
  margin: 32px auto 0;
}
.user-wrpa img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.user-wrpa p {
  margin: 4px 0;
}
.user-wrpa .desc {
  font-size: 12px;
}
