<div class="homepage-head">
  <div style="width: 500px;margin: 0 auto 32px;">
    <h3>SITE DE COURS</h3>
    <p class="comment" style="margin: 0;">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
    <p class="comment" style="margin: 0;">"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
  </div>
</div>

<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <app-teacher-card></app-teacher-card>
      ok
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>

<!-- <div style="width: 1024px;margin: 16px auto 0;display: flex;justify-content: space-between;">
  <app-teacher-card></app-teacher-card>
  <app-teacher-card></app-teacher-card>
  <app-teacher-card></app-teacher-card>
</div> -->

<div class="select-wrap">
  <div class="select">
    <h3>Devenir Etudiant</h3>
    <p>Lorem ipsum dolor sit amet, consecteturadipiscing elit, sed do eiusmod temporncididunt ut labore et dolore magna aliquaUt enim ad minim veniam, quis nostrudexercitation ullamco laboris nisi ut aliquidex ea commodo consequat, Duis aute iruredolor in reprehenderit in voluptate</p>
    <button mat-button class="btn1">S'INSCRIRE</button>
  </div>
  <div class="line"></div>
  <div class="select">
    <h3>Devenir Etudiant</h3>
    <p>Lorem ipsum dolor sit amet, consecteturadipiscing elit, sed do eiusmod temporncididunt ut labore et dolore magna aliquaUt enim ad minim veniam, quis nostrudexercitation ullamco laboris nisi ut aliquidex ea commodo consequat, Duis aute iruredolor in reprehenderit in voluptate</p>
    <button mat-button class="btn2">S'INSCRIRE</button>
  </div>
</div>

<div class="user-wrpa">
  <div class="user-item">
    <img src="../../../assets/avatar.png" alt="">
    <p>Nom Prenom</p>
    <div class="star">★★★★☆</div>
    <p class="desc">Lorem ipsum dolor sit amet，concerteturadiscing elit，sed do eiusmod temporex ea commodo consequeat Duis aute iruredolor in reprehenderit involptate</p>
  </div>
  <div class="user-item">
    <img src="../../../assets/avatar.png" alt="">
    <p>Nom Prenom</p>
    <div class="star">★★★★☆</div>
    <p class="desc">Lorem ipsum dolor sit amet，concerteturadiscing elit，sed do eiusmod temporex ea commodo consequeat Duis aute iruredolor in reprehenderit involptate</p>
  </div>
  <div class="user-item">
    <img src="../../../assets/avatar.png" alt="">
    <p>Nom Prenom</p>
    <div class="star">★★★★☆</div>
    <p class="desc">Lorem ipsum dolor sit amet，concerteturadiscing elit，sed do eiusmod temporex ea commodo consequeat Duis aute iruredolor in reprehenderit involptate</p>
  </div>
</div>
