<div style="display: flex; justify-content: center;">
  <div style="width: 75vw">
    <div style="margin-top: 5vh;">
      <div style="display: flex;">
        <mat-form-field appearance="outline" style="width: 40%; margin-right: 10px;">
          <mat-label>Trier par ...</mat-label>
          <mat-select [(ngModel)]="sortBy" name="role">
            <mat-select-trigger>
              {{sortBy === 'price' ? 'Tarif' : 'Note'}}
            </mat-select-trigger>
            <mat-option value="price"><mat-icon>euro</mat-icon>Tarif</mat-option>
            <mat-option value="rating"><mat-icon>star</mat-icon>Note</mat-option>
          </mat-select>
          <mat-icon matSuffix>sort</mat-icon>
        </mat-form-field>
        <div style="width: 25%; display: flex; justify-content: center;">
          <mat-slide-toggle [(ngModel)]="online" name="visio" style="margin-top: 20px;">
            Visioconférence uniquement
          </mat-slide-toggle>
        </div>
        <button mat-button (click)="reset()" style="width: 15%; height: 60px; margin-top: 4px;">
          <mat-icon>autorenew</mat-icon>
          Réinitialiser
        </button>
      </div>
      <div style="display: flex;">
        <mat-form-field appearance="outline" style="width: 100%; margin-right: 10px;">
          <mat-label>Recherche</mat-label>
          <input matInput name="email" [(ngModel)]="searchQuery" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-flat-button (click)="search()" style="width: 30%; background-color: var(--info); color: white; height: 60px; margin-top: 4px; margin-left: 10px;">
          <mat-icon>search</mat-icon>
          Rechercher
        </button>
      </div>
    </div>
    <div>
      <span style="font-weight: bold;">{{lessons.length}} cours trouvés</span>
    </div>
    <div style="margin-top: 30px; display: flex; flex-wrap: wrap; justify-content: center;">
      <app-teacher-card *ngFor="let lesson of lessons" [lesson]="lesson" style="margin: 10px;"></app-teacher-card>
    </div>
  </div>
</div>
