<div style="display: flex; width: 100%">
  <div style="margin-top: 5px">
    <h1 mat-dialog-title>Ajouter un créneau</h1>
  </div>
  <div style="margin-left: auto">
    <button mat-icon-button (click)="close()" style="color: var(--error)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <form>
    <mat-form-field appearance="outline">
        <mat-label>date du créneau</mat-label>
        <input matInput type="datetime-local" [matDatepicker]="picker" [min]="today" name="date" [(ngModel)]="data.date" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </form>
</div>
