mat-card {
  display: inline-block;
  width: 40vw;
  min-height: 60vh;
  text-align: center;
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-content {
  padding: 30px;
  flex-grow: 1;
}

mat-form-field {
  display: block;
}
