<mat-card class="my-card">
  <mat-card-title><h3>Mes informations</h3></mat-card-title>
  <mat-card-content style="display: flex; align-items: center">
    <form style="width: 100vw">
      <div style="display: flex; width: 100%;">
        <mat-form-field class="full-width" appearance="outline" style="margin-right: 5px; width: 50%;">
            <mat-label>prénom</mat-label>
            <input matInput name="address" [(ngModel)]="firstname" />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline" style="margin-left: 5px; width: 50%;">
            <mat-label>nom</mat-label>
            <input matInput name="address" [(ngModel)]="lastname" />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
      </div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>email</mat-label>
        <input matInput name="email" [(ngModel)]="email" />
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>date de naissance</mat-label>
        <input matInput [matDatepicker]="picker" [max]="today" name="birthdate" [(ngModel)]="birthdate" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>addresse</mat-label>
        <input matInput name="address" [(ngModel)]="address" />
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>téléphone</mat-label>
        <input matInput name="phone" [(ngModel)]="phone" />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <span style="color: red;" *ngIf="error">{{error}}</span>
    </form>
  </mat-card-content>
  <mat-card-footer style="margin-bottom: 25px">
    <button mat-flat-button (click)="modifyInfo()" style="width: 20vw; background-color: green; color: white">
      Sauvegarder
    </button>
  </mat-card-footer>
</mat-card>
