.card {
  display: inline-block;
  max-width: 300px;
}

.mat-icon {
  float: right;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
}

.avatar{
  position: absolute;
  right: 8px;
  bottom: 8px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
