/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary: #1976D2;
  --secondary: #02324F;
  --accent: #ED6A5B;
  --error: #FF5252;
  --info: #2196F3;
  --success: #4CAF50;
  --warning: #FC9674;
}

