mat-form-field {
  display: block;
}

::ng-deep .mat-tooltip {
    font-size: 15px !important;
}

.icon-btn {
    color: white; 
    box-shadow: none;
}

::ng-deep .snackbar {
  color: white;
  background: var(--success) !important;
}